# 11.1
> Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function

In [5]:
import zoo
zoo.hours()

Open 9-5 Daily

# 11.2
> 2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [8]:
import zoo as menagerie
menagerie.hours()

Open 9-5 Daily

# 16.8
>  Use the sqlalchemy module to connect to the sqlite3 database books.db
> Select and print the title column from the book table in alphabetical order.

In [15]:
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import text

# Connect to the database
engine = sa.create_engine('sqlite:///books.db')

# Query the database and print titles in alphabetical order
with engine.connect() as conn:
    query = text("SELECT title FROM book ORDER BY title ASC")
    result = conn.execute(query)
    for row in result:
        print(row.title)

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!